<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultado</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Resultado</h1>
        <p>O resultado do logaritmo é: {{ resultado }}</p>
        <img src="data:image/png;base64,{{ grafico_base64 }}" alt="Grafico">
    </div>
</body>
</html>
